@model TimeRegistration.Web.ViewModels.Main.MonthOverviewViewModel
@{
    ViewData["Title"] = "Month Overview";
}

<br />

<div class="pull-right">
    <a asp-controller="Main" asp-action="Register" class="btn btn-primary">Add new</a>
</div>

<br />

<h1>Monthly Overview</h1>

<form asp-controller="Main" asp-action="MonthOverview" method="get" role="form" class="form-inline" asp-antiforgery="false">

    <div class="form-group">
        <label for="SelectedYear">Year</label>
        <select asp-for="SelectedYear" asp-items="@(new SelectList(Model.PossibleYears))" asp- name="year" class="form-control"></select>
    </div>

    &nbsp; &nbsp;

    <div class="form-group">
        <label for="SelectedMonth">Month</label>
        <select asp-for="SelectedMonth" asp-items="@(new SelectList(Model.PossibleMonths, "MonthNumber", "Name"))" name="month" class="form-control"></select>
    </div>

</form>

<hr />
<h2>Report for @Model.SelectedMonthName @Model.SelectedYear</h2>

@if (Model.Report == null || !Model.Report.Customers.Any())
{
    <p>No data found for this period</p>
}
else
{
    <table class="table table-hover table-condensed">

    @foreach (var customer in Model.Report.Customers)
    {
        <tr class="success">
            <th colspan="3">Customer: @customer.Name</th>
            <th class="text-right">@customer.TotalDuration.TotalHours.ToString("f2") hours</th>
        </tr>

        @foreach (var project in customer.Projects)
        {

        <tr class="info">
            <th></th>
            <th colspan="2">Project: @project.Name</th>
            <th class="text-right">@project.TotalDuration.TotalHours.ToString("f2") hours</th>
        </tr>

            @foreach (var registration in project.Registrations)
            {

        <tr>
            <td></td>
            <td></td>
            <td>
                @registration.Date.ToShortDateString()
                @if (!string.IsNullOrWhiteSpace(registration.Notes))
                {
                    <br />
                    <em>@registration.Notes</em>
                }
            </td>
            <td class="text-right">@registration.Duration.TotalHours.ToString("f2") hours</td>
        </tr>

            }

        }

        <tr><td colspan="4"></td></tr>

    }

        <tr class="warning">
            <td colspan="3"><b>Total:</b></td>
            <td class="text-right"><b>@Model.Report.TotalDuration.TotalHours.ToString("f2") hours</b></td>
        </tr>

    </table>
}

@section Scripts {
<script>

    $('#SelectedYear').on('change', function(event) {
        var form = $(event.target).parents('form');
        form.submit();
    });

    $('#SelectedMonth').on('change', function (event) {
        var form = $(event.target).parents('form');
        form.submit();
    });

</script>
}